@CHARSET "UTF-8";
body {
	background-image: url("background.jpg");

	}
#contener{
	width:1100px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 25px;
	background-color:#F4E5D1;
	
}
#menu{
	background-color: #986963;
	margin-top: 10px;
	padding: 15px;
	-webkit-border-top-left-radius: 15px;
	-webkit-border-top-right-radius: 15px;
	-moz-border-radius-topleft: 15px;
	-moz-border-radius-topright: 15px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	margin-bottom: 20px;
}
#menu span{
	margin: 100px;
}
#menu a{
	font-size: 30px;
	color: #322120;
}
#content a{
	color: black;
}
#menu a:link,
#content a:link{
	text-decoration: none;
}
#menu a:visited,
#content a:visited{
	text-decoration: none;
}
#menu a:hover
#content a:hover{
	text-decoration: none;
}
#menu a:active,
#content a:active{
	text-decoration: none;
	color: #322120;
}
#cat{
	text-align: left;
	margin: 20px;
	margin-left: 60px;
	margin-right: 60px;
	-webkit-box-shadow: 0px 0px 8px 5px rgba(168,132,121,1);
	-moz-box-shadow: 0px 0px 8px 5px rgba(168,132,121,1);
	box-shadow: 0px 0px 8px 5px rgba(168,132,121,1);
	min-height: 40px;
	padding: 7px;
}
#content{
	min-height:670px;
}
.minititle{
	font-size: 25px;

}
#title {
	
	height: 100px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
	-webkit-box-shadow: 0px 0px 16px 8px rgba(138,109,101,1);
	-moz-box-shadow: 0px 0px 16px 8px rgba(138,109,101,1);
	box-shadow: 0px 0px 16px 8px rgba(138,109,101,1);
	
}
#logo{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
}
#text{
	float:left;
	text-align: left;
	margin-left: 40px;
	margin-top:20px;
	color: black;	
}
.names{
	margin:0px;
}
.names span{
	padding: 7px;
	margin: 7px;
	width: 150px;
	display: inline-block;
}
.button{
	display: inline;
}
input[type=submit]{
	padding: 7px;
	margin: 7px;
	border-radius: 6px;
	background-color: #A8655E;
	-webkit-box-shadow: 0px 0px 18px 1px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 18px 1px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 18px 1px rgba(0,0,0,0.75);
	min-width: 90px;
	border-color: #CA9AE4;
	
}
footer {
	width:1100px;
	background-color: #986963;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

